
#root,
#root > .grid {
  height: 100%;
}

.app {
  padding: 2em;
}

.container {
  height: 100%;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .ui.container {
    width: 1100px;
  }
}


@media only screen and (max-width: 991px) and (min-width: 768px) {
  .ui.container {
    width: auto;
  }
}

.signin {
  max-width: 600px;
  margin: 1em auto;
  text-align: center;
}

.ui.separator {
  margin-bottom: 1em;
}

.rt-table {
  min-height: 130px;
}

.rt-th {
  text-align: left;
  outline: none;
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
  padding: 10px;
}

.rt-delete {
  text-align: center;
}

.ui.menu {
  border-radius: 0;
}
